DO c:\Alwardas A A\backend 
BEGIN
  IF NOT EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'parents') THEN
    CREATE TABLE parents (
      parent_id TEXT PRIMARY KEY,
      student_id TEXT,
      phone TEXT,
      email TEXT,
      password TEXT
    );
  END IF;
END c:\Alwardas A A\backend;
